
project/Cécile N/.ipynb_checkpoints/AnalyzeTheProblem-KnowYourData-checkpoint.ipynb
*.pptx
project/Cécile N/.ipynb_checkpoints/AnalyzeTheProblem-checkpoint.ipynb
project/Cécile N/.ipynb_checkpoints/Tests for working with images-checkpoint.ipynb
project/Cécile N/images/sigmoidFunctionEquation.svg
project/Cécile N/images/sigmoid_function_equation.png
project/Cécile N/.ipynb_checkpoints/ExploreAndPrepareYourData-checkpoint.ipynb
